/***
Promo Page
***/

.promo-page {
  padding-left: 0;
  padding-right: 0;
  min-height: 650px;
}

.promo-page h1, .promo-page h2 {
  font-size: 50px;
  line-height: 60px;
}

.promo-page .btn.xlarge {
  font-size: 22px;
  padding: 7px 25px;
  margin: 5px 0; 
}

.promo-page input.m-wrap {
  background: #fff;
}

/*page row options*/

.promo-page .block-transparent {
  min-height: 350px;
  padding: 50px 20px 30px 20px;
}

.promo-page .block-grey {
  min-height: 350px;
  padding: 50px 20px 30px 20px;
  background: #eeedf2;
}

.promo-page .block-yellow {
  min-height: 350px;
  padding: 50px 20px 30px 20px;
  background: #ffd800;
}

.promo-page .block-footer {
  padding: 30px 20px 30px 20px;
  background: #eeedf2;
}

